<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="test.java.com.answerconnect.deployment.testcases.Sign_In_Anct" />
			<class name="test.java.com.answerconnect.deployment.testcases.StatusBar" />
			<class name="test.java.com.answerconnect.deployment.testcases.InboxTab" />
			<class name="test.java.com.answerconnect.deployment.testcases.CallsTab" />
			<class name="test.java.com.answerconnect.deployment.testcases.MoreTab" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
